@charset "UTF-8";
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    background-color: #04114e;
    text-align: center;
    background-image: url('imagens/manha1.jpg');
    min-height: 99.6vh;
    min-width: 95vw;
    backdrop-filter: blur(3px);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    padding: 10px;
}
header {
    color: #d9d7d4;
    text-align: center;
    text-shadow: 0px 0px 10px #000000c9;
    margin: 15px;
}

#sectionPrincipal {
    background-image: linear-gradient(to bottom, #a9873e, #558926); /* MANHÃ */
    /* background-image: linear-gradient(to bottom, #2d4b0c, #a8ba58); */ /* TARDE */
    /* background-image: linear-gradient(to bottom, #2f67a7, #1f170f); */ /* NOITE */
    /* background-image: linear-gradient(to bottom, #0d245c, #290d07); */ /* MADRUGADA */

    color: #ffc629; /* MANHÃ */
    /* color: #fff3b2; */ /* TARDE */
    /* color: #b4d2ff; */ /* NOITE */
    /* color: #32a8a8; */ /* MADRUGADA */

    text-shadow: 0px 0px 5px #0000003c;
    padding: 7px;
    border-radius: 5px;
    margin: auto;
    box-shadow: 2px 2px 10px #00000088;
    width: calc(310px + 15%);
}

section > div {
    margin: 8px 0px;
}

.tempo {
    color: #ffa218; /* MANHÃ */
    /* color: #fdc324; */ /* TARDE */
    /* color: #1bb7ff; */ /* NOITE */
    /* color: #32a8a8; */ /* MADRUGADA */
    text-shadow: 0px 0px 10px #0000006f;
    text-decoration: overline;
}

#foto {
    width: 300px;
    height: 300px;
    margin: auto;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0px 0px 10px #0000009c;
}

#imagem {
    min-width: 100%;
    height: 100%;
    transform: translate(-50%);
    /* right: 0px; */
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
}

footer {
    color: antiquewhite;
    font-style: italic;
    margin: 15px;
    text-shadow: 0px 0px 8px black;
}
footer a {
    text-decoration: none;
    display: block;
    margin: 8px auto;
    border: 1px solid black;
    width: max-content;
    padding: 7px;
    border-radius: 5px;
    background-color: #150b0b;
    color: rgb(233, 198, 153);
    text-shadow: 0px 0px 8px #00000096;
    animation: github 1s ease infinite;
    font-style: normal;
}
footer a:hover {
    text-decoration: underline;
    animation: github none;
}

@keyframes github {
    0% {
        scale: 1;
    }

    50% {
        scale: 1.04;
    }
}